.navbar {
    background-color: blue;
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    margin-bottom: 2%;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-link{
    color: #fff;
    text-decoration: none;
  }
  