@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.text{
    font-size: 1.5em;
    font-weight: 700;
    color: red;
}

.view-pdf{
    width: 80%;
    height: 90vh;
    margin-top: -2%;
    margin-left: 10%;
    margin-right: 10%;
}